@import "tailwindcss";
@plugin "daisyui";

/* serveri käivitamine: npx tailwindcss -i ./src/css/input.css -o ./src/css/output.css --watch
+ live server index.htnml sees */

/*  Ctrl+ K, Ctrl +F */

body {
    font-family: 'Montserrat';
    width: 1920px;
    margin-left:auto;
    margin-right:auto;
    
    background-color: #F9F8F8;
}


div {
     border:1px solid green; /* deleting later */
}

h1 {
    font-size: 45px;
    color: #2A2720;
}

h2 {
    font-size: 24px;
    color: #2A2720;
}

p {
    font-size: 20px;
    color: #2A2720;
}


.header {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    column-gap: 5px;

    text-align: right;
    font-size: 90px;
    margin-right: 86px;

    margin-top: 125px;
}



/* Donation page */
div.toeta {
    margin-left: 233px;
    margin-top: 223px;

    display: flex;
    flex-direction: row;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.toeta2 img {
    width: 948px;
    height: auto;
}

div.toeta div.toeta1 .tp1 {
    padding-top: 40px;
    padding-bottom: 16px;
}

div.toeta div.toeta1 .tp2 {
    padding-bottom: 80px;
}

div.toeta div.toeta1 .ülekanne {
    padding-top: 16px;
    padding-bottom: 16px;
}

div.toeta div.toeta1 .toetal {
    padding-top: 32px;
    padding-bottom: 321px;
}

/* Contact page */
div.contact {
    margin-top: 223px;
    
    margin-left: 233px;
    margin-right: 233px;
    padding-bottom: 296px;
}

div.contact h1 {
    margin-bottom: 40px;
}

div.contact div.contactbox {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    border-radius: 40px;
    background-color: white;

    padding-left: 64px;
   
}

div.contact div.contacttext {
    margin-right: 213px;
}

div.contact div.location{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    margin-top: 165px;
}

div.contact div.phone{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

div.contact div.location,
div.contact div.phone {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr; 
  column-gap: 16px; 
}


div.contact div.socials{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

div.contact div.socials {
  display: flex;              
  align-items: center;
  gap: 16px;                   
  margin-top: 40px;
}


div.contact div.map iframe{
   margin-bottom: 126px;
   margin-top: 10px;

}

.contactform {
  margin-right: 64px;
}

.contactform button {
    width: 272px;
    height: 79px;
    border-radius: 20px;
}

   .contactform input,
  .contactform textarea {
    width: 613px;
    height: 58px;
    background-color: #F3F4F6;
    border: 1px solid #9A9A9A;
    font-size: 20px;
  }